<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head'); %>

<body>
    <main id="main">
        <p>welcome to dsi1050</p>
        <p> your ebay html-rendered product to search for is bananas</p>
        <p> click on the button to find your js-rendered keyword</p>
        <button id="js-render-btn" class="button-primary">click me!</button>
    </main>
    <script src="genWord.js"></script>
</body>

</html>