<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head'); %>

<body>

    <main>
        <p>login dsi1050</p>
        <form id="login-form">
            <input class="u-full-width" required type="text" id="name" name="name" placeholder="Name">
            <input class="u-full-width" type="password" id="password" name="password" placeholder="Password">
            <button class="u-full-width button-primary">Login</button>
        </form>
    </main>
    <script src="login.js"></script>
</body>

</html>