#login-form {
    width: 30em;
    margin: 0 auto
}

main {
    padding-top: 10rem;
}

.header {
    margin-top: 6rem;
    text-align: center;
}

main {
    text-align: center;
}

.bottom {
    font-size: .5em;
    position: absolute;
    bottom: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#invalid {
    color: #a00000;
}